:root {
  // COLORS
  // the rgb versions are necessary for rgba color values
  //https://www.rapidtables.com/convert/color/hex-to-rgb.html - website to convert hex to rgb
 /* --color-primary: ;
  --color-primary-rgb: ;
  --color-primary-light: ;
  --color-primary-light-rgb: ;
  --color-primary-dark: ;
  --color-primary-dark-rgb: ;

  --color-grey-light: #f7f7f7;
  --color-grey-light-rgb: 247, 247, 247;

  --color-grey-dark: #777;
  --color-grey-dark-rgb: 119, 119, 119;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;

  // FONT

  --default-font-size: 1.6rem;

*/

  // BREAKPOINTS

  // Small tablets and large smartphones (landscape view)
  --screen-sm-min: 576px;

  // Small tablets (portrait view)
  --screen-md-min: 768px;

  // Tablets and small desktops
  --screen-lg-min: 992px;

  // Large tablets and desktops
  --screen-xl-min: 1200px;

}
//TEST


